* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}
/* Classes Auxiliares */
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

.w33{
    float: left;
    width: 33.3%;
}

.w33 a{
    text-decoration: none;
}

.w40{
    width: 40%;
    float: left;
}

.w50{
    width: 50%;
    float: left;
}

.w60{
    width: 60%;
    float: left;
}

.center{text-align: center;}

.clear{
    clear:both;
}

/* Classes do Site */
header{
    padding: 12px 0;
}

.logo{
    float: left;
}

.logo a{
    color: black;
    text-decoration: none;
}

.selected{
    font-weight: bold;
}
nav.menu-desktop ul{
    position: relative;
    top: 10px;
}

nav.menu-desktop{
    float: right;
}

nav.menu-desktop li{
    padding: 0 10px;
    display: inline-block
}
nav.menu-desktop a{
    color: black;
    text-decoration: none;
}

/*Sessao Principal*/
section.main-background{
    position: relative;
    width: 100%;
    padding: 140px 0 200px 0;
    background: url('../Imagens/camera.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

section.main-background > .container{
    position: relative;
    z-index: 2;
}

.botao{
    color: white; /* cor de texto*/
    border: 1px solid black; 
    background-color: red;
    width: 180px; /* largura */
    padding: 8px; /* Padding é o preenchimento */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    border-radius: 6px;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
}

section.main-background h2{
    color: rgb(201, 76, 18);
    font-size: 40px;
    font-weight: bold;
}

section.main-background p{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 15px;
}

section.diferenciais{
    padding: 30px 0;
    text-align: center; 

}

.line-text{
    position: relative;
    display: inline-block;
    color: rgb(201, 76, 18);
}

.line-text > div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: rgb(201, 76, 18);
}

.line-text h2{
    color: rgb(201, 76, 18);
    font-size: 27px;
    font-weight: normal;
}

.icone-dif{
    margin-top: 50px;
}

.box-icone-single{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
}

.box-icone-single h2{
    color: rgb(201, 76, 18);
    font: 40px;
}

.box-icone-single p{
    color: black;
    font-weight: normal;
    font-size: 20px;
}

section.sobre-equipe{
    padding: 30px 0;
    background: rgb(rgb(88, 75, 75), rgb(241, 187, 117), rgb(59, 59, 61));
}

section.sobre-equipe > .container{
    display: flex;
    flex-wrap: wrap;
}

.equipe-container{
    width: 50%;
}

.sobre-container{
    width: 50%;
}

.sobre-container p{
    color: black;
    font-size: 20px;
    margin-top: 10px;
}

.foto{
    margin-top: 20px;
}

.img-foto{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.descricao-foto{
    width: calc(100%-70px);
    display: inline-block;
}

.descricao-foto h3{
    color: black;
    font-weight: bold;
}

.descricao-foto p{
    color: rgb(rgb(71, 71, 71), rgb(66, 66, 66), rgb(51, 51, 51))
}

section.inscricao{
    background-color: rgb(155, 155, 155);
    padding: 10px 0;
}

.inscricao-texto{
    font-weight: normal;
    color: white;
}

.inscricao-form[type=text]{
    width: calc(100%-120px);
    height: 40px;
    background: white;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
}

.inscricao-form[type=submit]{
    width: 120px;
    height: 40px;
    background: white;
    cursor: pointer;
    display: inline-block;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

section.card{
    padding: 30px 0;
}

.card-single{
    width: 33.3%;
    float: left;
}

.card-single img{
    width: 100%;
}

.card-single h3{
    margin-top: 5px;
    font-weight: normal;
    font-size: 19px;
}

.card-single p{
    margin: 10px 0;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

footer.footer1{
    background:rgb(201, 76, 18);
    padding: 20px 0;
    color: white;
}

footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}

footer.footer1 a{
    color: white;
    display: block;
}

footer.footer2{
    padding: 10px 0;
    text-align: center;
    color: white;
    background: rgb(139, 63, 0)
}

div.group-icons a{
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
}

/*Pagina Sobre*/

section.title-page{
    padding: 30px;
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

section.title-page h2{
    color: rgb(201, 76, 18);
    font-size: 27px;
    font-weight: bold;
}

section.title-page p{
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
}

section.title-page > .container{position: relative;z-index: 101;}

.overlay__title-page{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

/*Sobre Container Info*/

section.sobre__info{
    padding: 30px 0;
}

.sobre__single__info img{
    max-width: 100%;
    float: left;
    width: 50%;
}

.sobre__single__info p{
    font-size: 16px;
    padding: 10px 15px;
    float: left;
    line-height: 30px;
    width: 50%;
    margin-bottom: 20px;
}

.paragrafo__single__info{
    margin-top: 15px;
}

.paragrafo__single__info p{
    margin-top: 8px;
    padding: 0;
}

/*Efeito Paralax - Sobre*/

section.paralax{
    padding: 30px 0;
    width: 100%;
    min-height: 200px;
    background-image: url('../Imagens/img5.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

section.paralax h2.chamada-paralax{
    border: 2px solid white;
    padding: 3px 25px;
    color: white;
    font-size: 20px;
    display: inline-block;
    
}

section.paralax p{
    margin-top: 30px;
    font-size: 20;
    color: white;
}

section.equipe{
    padding: 40px 0;
}

.equipe-ciculos{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.equipe-circulo1{
    padding: 0 20px;
    text-align: center;
    width: 33.3%;
}

.equipe-circulo1 h3{
    margin-top: 8px;
    font-size: 20px;
    font-weight: normal;
}

.equipe-circulo1 p{
    font-weight: normal;
}

.foto-circulo{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}

.foto-circulo-container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    background: #ccc;
    background-size: 100% 100%;
}

section.sobre-final{
    background-color: rgb(225, 225, 225);
    border-top: 2px solid rgb(210, 210, 210);
    padding: 20px;
}

section.sobre-final p{
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
}

.card-text{
    margin-top: 10px;
    width: 80%;
    position: relative;
}

.card-text img{
    max-width: 100%;
}

.card-text h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

section.contato{
    min-height: 600px;
    padding: 30px 0;
}

section.contato .w50,
section.contato .w100{
    padding:0 10px;
}

.formulario form{
    padding: 10px;
}

.formulario h2{
    background: #DDDDDD;
    text-align: center;
    color: #ACAC9D;
    font-size: 17px;
    font-weight: normal;
    border-left: 5px solid #cccccc;
    padding: 4px 0;
}

.formulario input[type=text],
.formulario input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 10px;
    resize:none;
}

.tags-form{
    padding-left: 50px;
}

.tags-form h2{
    font-weight: normal;
}

.tags-form p{
    font-weight: lighter;
}

.tags-form p.tag-contato{
    color: white;
    background-color: rgb(161, 57, 8);
    text-align: center;
    margin-top: 6px;
    padding: 8px 4px;
}

@media screen and (max-width: 768px){
.tags-form p{
        padding: 0px;
}


.formulario input[type=text],
.formulario input[type=email]{
    margin-bottom: 0px;

}

.formulario textarea{
    margin-bottom: 0;


}
    footer.footer1{
        text-align: center;
    }
    .card-single{width: 100%;}
    .w33,.w40,.w50,.w60,.w100{width: 100%; margin-bottom: 20px;}
    .box-icone-single{
        width: 100%;
    }
    .equipe-container{
        width: 100%;
    }
    
    .sobre-container{
        width: 100%;
        margin-top: 60px;
    }
    .sobre__single__info img{
        width: 100%;
    }
    .sobre__single__info p{
        margin-top: 8px;
        width: 100%;
        padding: 0;
    }

}

@media screen and (max-width: 768px){
    .equipe-circulo1{
        padding: 0 8px;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .card-single{
        padding: 10px;
    }
}